
.actorsContainer {
    background-color:antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 150px;
    height: 250px;
    padding: 20px;





.actorsImage {
    width: 100px;
    border: 0px;
   
}

}
