*{
    margin: 0;
    padding: 0;
}


.mainContainer {

    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

    .titleLogo {
       
        width: 200px;
        height: 150px;
    }
    

}
.inputStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: goldenrod;
    padding: 10px;
    gap: 20px;
    width: 100%;
}




.titleStyle {
    
    color: goldenrod;
    background-color:black;
    width: 100%;
    

}
.actorsCardsContainer {
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.actorsContainer {

    background-color:goldenrod;
    color: black; 
    border-radius: 20px; 
    width: 150px;
    height: 190px;
    padding: 20px;
    margin: 10px;


.actorsImage {
    width: 100px;
    border: 0px;
   
}

}
